<h1>Nova Pessoa</h1>

<div class="well">
    <form action="" #formPessoa="ngForm">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pessoa.nome" #nome="ngModel" minlength="2" required>
            <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
                <div [hidden]="!nome.errors?.['required']">Digite o nome da pessoa.</div>
                <div [hidden]="!nome.errors?.['minlength']">O nome deve conter ao menos 2 caracteres.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="idade">Idade:</label>
            <input type="text" class="form-control" id="idade" Numerico minimoValidator valorMinimo="18" name="idade" required  [(ngModel)]="pessoa.idade" #idade="ngModel">
            <div class="alert alert-danger" *ngIf="idade.errors && (idade.dirty || idade.touched)">
                <div [hidden]="!idade.errors?.['required']">Digite a idade da pessoa.</div>
                <div [hidden]="!idade.errors?.['minimo']">Idade deve ser maior ou igual a 18</div>
            </div>
        </div>
        <div class="form-group">
            <label for="nascimento">Nascimento</label>
            <input type="text" class="form-control" id="nascimento" name="nascimento" required [(ngModel)]="pessoa.nascimento" #nascimento="ngModel" mask="d0/M0/0000">
            <div class="alert alert-danger" *ngIf="nascimento.errors && (nascimento.dirty || nascimento.touched)">
                <div [hidden]="!nascimento.errors?.['required']">Digite a data de nascimento.</div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="inserir()" [disabled]="!formPessoa.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i> Salvar
            </button>
            <a class="btn btn-secondary">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
            </a>
        </div>
    </form>
</div>